<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Department</strong>
        </div>
        <form #dptadd='ngForm' (ngSubmit)="Register(dptadd)" class="form-horizontal">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <div class="form-group">
              <label for="DepartmentName">Department Name</label>
              <input type="text" class="form-control" id="dept_name" placeholder="Enter Department Name"
               name="dept_name" dept_name required [(ngModel)]='objdpt.dept_name'  #dept_name="ngModel">
           <span class="help-bpx" *ngIf="dept_name.touched && !dept_name.valid ">Required</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="Enabled">Enabled</label>
                <select class="form-control" name="dept_enabled" dept_enabled required [(ngModel)]='objdpt.dept_enabled' #dept_enabled="ngModel">
                    <option value="0" selected disabled>Please Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    <span class="help-bpx" *ngIf="dept_enabled.touched && !dept_enabled.valid ">required</span>
                  </select>
             </div>
            </div>
          </div><!--/.row-->
      </div>
      <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
      </form>
    </div>
    <!--/.col-->
  </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Department List</strong>
        </div>
        <div class="card-body">

            <div *ngIf="!dataavailbale">

                <h6> No Department Data is available, Please Add new data.</h6>
            </div>


          <table class="table table-striped" *ngIf="dataavailbale">
              <thead>
                <tr>
                    <th scope="col" style="align-content: center">Action</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Enabled</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of dptlist">
                  <td scope="col">
                        <i data-toggle="modal"  data-target="#myModaledit" (click)="loadnewForm(e.dept_name,e.dept_enabled,e.dept_id)" class="fa fa-pencil-square-o text-primary"></i>
                          &nbsp;&nbsp;
                          <i id="remove" (click)="deleteconfirmation(e.dept_id)" class="fa fa-trash text-danger" aria-hidden="true"></i>
                  </td>  
                  <td scope="col">{{e.dept_name}}</td>
                  <td scope="col">{{e.dept_enabled}}</td>
                  <td scope="col" style="display:none">{{e.dept_id}}</td>
                  
                </tr>
              </tbody>

              
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>



<div bsModal #regForm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          
        <div class="modal-header">
            <h4 class="modal-title">Edit</h4>
          <button type="button" (click)="largeModal.hide()" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form #EditForm='ngForm' name="editform" (ngSubmit)="EditDepartment(EditForm)" class="form-horizontal">
        <div class="modal-body">
            
                <div class="col-sm-9">
                    <div class="form-group">
                    <label for="DepartmentName">Department Name</label>
                    <input type="text" class="form-control" id="dept_name" placeholder="Enter Department Name"
                     name="dept_name" dept_name required [(ngModel)]='objdt.dept_name'  #dept_name="ngModel">
                 <span class="help-bpx" *ngIf="dept_name.touched && !dept_name.valid ">Required</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="Enabled">Enabled</label>
                      <select class="form-control" name="dept_enabled" dept_enabled required [(ngModel)]='objdt.dept_enabled' #dept_enabled="ngModel">
                          <option value="0" selected disabled>Please Select</option>
                          <option value="Y">Yes</option>
                          <option value="N">No</option>
                          <span class="help-bpx" *ngIf="dept_enabled.touched && !dept_enabled.valid ">required</span>
                        </select>
                   </div>
                  </div>
              
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" (click)="largeModal.hide()" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
      </div>

    </div>
  </div>


  

  