<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Configuration - Software Type</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <div class="form-group">
                <label for="TicketCategory">Software Type</label>
                <input type="text" class="form-control" id="TicketCategory" placeholder="Enter TicketCategory">               
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="Enabled">Enabled</label>
                <select class="form-control" id="Enabled">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
            </div>
          </div><!--/.row-->


      </div>
      <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Insert</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
    </div>
    <!--/.col-->
  </div>
</div>