        <div class="card">
          <div class="card-header">{{action}} Department</div>
          <div class="card-body">
              <div class="row">
  <div class="col-md-6">
  <mat-form-field>
    <input placeholder="Department Name" matInput [(ngModel)]="local_data.dept_name">
  </mat-form-field>
</div>
<div class="col-md-6">
  <mat-form-field >
    <mat-select placeholder="Select" [(ngModel)]="local_data.dept_enabled" required>
      <mat-option value="Y">Yes</mat-option>
      <mat-option value="N">No</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
 </div>
</div>
<div class="text-right">
  <button mat-button (click)="doAction()" class="btn btn-success">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>