<div class="row p-3 justify-content-center">
  <div class="p-1">
  <button type="submit"  mat-stroked-button color="primary" (click)="refresh()">Refresh</button>
  </div>
  <div class="p-1">
  <button type="submit" mat-stroked-button class="btn btn-success" (click)="openDialog('Add',{})">Add</button>
  </div>
  <div class="p-1">
  <button type="submit" mat-stroked-button class="btn btn-info">Edit</button>
  </div>
  <div class="p-1">
  <button type="submit" mat-stroked-button color="warn">Delete</button>
  </div>
</div>
  <app-document-list></app-document-list>
