<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="Sub-header">
            <div class="row">  
                <div class="col-md-8">
                General
                </div>
                
                <div class="col-md-2 text-right">    
                <button type="submit" class="btn btn-success" mat-raised-button>Save</button>
                </div>
                <div class="col-md-2">    
                        <button type="reset" class="btn btn-danger" mat-raised-button>Cancel</button>
                </div>
            </div>
        </div>    
        <div class="card-body">
            <div class="row setWidth">
              <div class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="Created By" >
                </mat-form-field>
                </div>    
                <div class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="Created At" >
                </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput placeholder="Account Code" required>
                  </mat-form-field>
                </div>
            </div>

            <div class="row setWidth">
                    <div class="col-md-4">
                      <mat-form-field>
                            <mat-select placeholder="Account Type" required>
                                    <mat-option value="Y">Yes</mat-option>
                                    <mat-option value="N">No</mat-option>
                            </mat-select>
                      </mat-form-field>
                      </div>    
                      <div class="col-md-4">
                      <mat-form-field>
                          <input matInput placeholder="Account Name" required>
                      </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                          <input matInput placeholder="Account Short Name">
                        </mat-form-field>
                      </div>
            </div>    

            <div class="row setWidth">
                    <div class="col-md-4">
                      <mat-form-field>
                            <mat-select placeholder="Zone">
                                    <mat-option value="Y">Yes</mat-option>
                                    <mat-option value="N">No</mat-option>
                            </mat-select>
                      </mat-form-field>
                      </div>    
                      <div class="col-md-4">
                      <mat-form-field>
                          <input matInput placeholder="Address">
                      </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                                <mat-select placeholder="Country">
                                        <mat-option value="Y">Yes</mat-option>
                                        <mat-option value="N">No</mat-option>
                                </mat-select>
                        </mat-form-field>
                      </div>
            </div> 
            
            
            <div class="row setWidth">
                    <div class="col-md-4">
                      <mat-form-field>
                            <mat-select placeholder="State">
                                    <mat-option value="Y">Yes</mat-option>
                                    <mat-option value="N">No</mat-option>
                            </mat-select>
                      </mat-form-field>
                      </div>    
                      <div class="col-md-4">
                      <mat-form-field>
                            <mat-select placeholder="City">
                                    <mat-option value="Y">Yes</mat-option>
                                    <mat-option value="N">No</mat-option>
                            </mat-select>
                      </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                                <input matInput placeholder="Zipcode/PostalCode">
                        </mat-form-field>
                      </div>
            </div> 
        </div>
      </div>    
  </div>
</div>
