<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Configuration - Asset Sub Category</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="AssetSubCategory">Asset Sub Category Name</label>
                <input type="text" class="form-control" id="AssetSubCategory" placeholder="Enter Asset Sub Category">               
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="SubCategoryDiscription">Sub Category Discription</label>
                <input type="text" class="form-control" id="SubCategoryDiscription" placeholder="Enter Sub Category Discription">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="Enabled">Enabled</label>
                <select class="form-control" id="Enabled">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
            </div>
          </div><!--/.row-->


      </div>
      <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Insert</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
    </div>
    <!--/.col-->
  </div>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 
          <strong>Asset Sub Category Table</strong>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Asset Sub Category</th>
                <th>Asset Sub Discription</th>
                <th>Enabled</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Yiorgos Avraamu</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>