<div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                  <mat-tab-group dynamicHeight>
                      <mat-tab label="General">
                            <ng-template mat-tab-label>
                                    <mat-icon>location_on</mat-icon>
                                    <span>General</span>
                             </ng-template>
                          <app-location-general></app-location-general>
                      </mat-tab>
                      <mat-tab label="History">
                            <ng-template mat-tab-label>
                            <mat-icon>history</mat-icon>
                            <span>History</span>
                            </ng-template>
                          <app-common-history></app-common-history>
                        </mat-tab>
                        <mat-tab label="Department">
                                <ng-template mat-tab-label>
                                    <mat-icon>view_module</mat-icon>
                                    <span>Department</span>
                                </ng-template>
                          <app-common-department></app-common-department>
                        </mat-tab>
                        <mat-tab label="Designation">
                                <ng-template mat-tab-label>
                                        <mat-icon>work</mat-icon>
                                        <span>Designation</span>
                                 </ng-template>
                          <app-common-designation></app-common-designation>
                        </mat-tab>
                        <mat-tab label="Team">
                                <ng-template mat-tab-label>
                                        <mat-icon>supervisor_account</mat-icon>
                                        <span>Team</span>
                                 </ng-template>
                                <app-common-team></app-common-team>
                        </mat-tab>
                        <mat-tab label="Ticket">
                            
                        </mat-tab>
                        <mat-tab label="Documents">
                                <ng-template mat-tab-label>
                                        <mat-icon>file_copy</mat-icon>
                                        <span>Documents</span>
                                 </ng-template>
                            <app-common-documents></app-common-documents>
                        </mat-tab>
                        <mat-tab label="Asset History">
                                <ng-template mat-tab-label>
                                        <mat-icon>ac_unit</mat-icon>
                                        <span>Asset History</span>
                                 </ng-template>
                        </mat-tab>
                        <mat-tab label="Asset">
                                <ng-template mat-tab-label>
                                        <mat-icon>ac_unit</mat-icon>
                                        <span>Asset</span>
                                 </ng-template>
                        </mat-tab>
                        <mat-tab label="Contacts">
                                <ng-template mat-tab-label>
                                        <mat-icon>contacts</mat-icon>
                                        <span>Contacts</span>
                                 </ng-template>
                        </mat-tab>
                      </mat-tab-group>

                      
                      
                </div>  
            </div>
        </div>
      </div>