<form [formGroup]="ContactService.formModelContacts" autocomplete="off">
    <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="Sub-header">
                    <div class="row">  
                        <div class="col-md-10">
                        General
                        </div>
                        <div class="col-md-2 text-right">    
                        <button type="submit" class="btn btn-success" mat-raised-button (click)="onSubmit()">Save</button>
                        </div>
                        <!-- <div class="col-md-2">    
                                <button type="reset" class="btn btn-danger" mat-raised-button>Cancel</button>
                        </div> -->
                    </div>
                </div>    
                
                <div class="card-body">
                    <div class="row ">
                      <div class="col-md-4"> 
                        <mat-form-field *ngFor="let user of createDateAndBy">
                            <input matInput placeholder="Created By" [(ngModel)]="user.createdBy"  formControlName="created_by">
                        </mat-form-field>
                        </div>    
                        <div class="col-md-4">
                        <mat-form-field *ngFor="let user of createDateAndBy">
                            <input matInput placeholder="Created At" [(ngModel)]="user.createdDate"  formControlName="created_date">
                        </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <input matInput placeholder="Contact Code" formControlName="crm_contact_code" required>
                          </mat-form-field>
                        </div>
                    </div>
        
                    <div class="row ">
                            <div class="col-md-4">
                                <!-- <mat-form-field>
                                    <input matInput placeholder="Account" required>
                                </mat-form-field> -->
                              </div>    
                              <div class="col-md-4">
                                <mat-form-field>
                                    <mat-select placeholder="Contact Type" formControlName="contact_type_id">
                                            <mat-option *ngFor="let gd of contactType" [value]="gd.name">{{gd.name}}</mat-option>
                                    </mat-select>                          
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <!-- <mat-form-field>
                                  <input matInput placeholder="Employee Code" required>
                                </mat-form-field> -->
                              </div>
                    </div>    
        
                    <div class="row ">
                            <div class="col-md-4">
                              <mat-form-field>
                                    <mat-select placeholder="Contact Title" formControlName="contact_title">
                                            <mat-option *ngFor="let gd of contactTitle" [value]="gd.name">{{gd.name}}</mat-option>
                                    </mat-select>    
                              </mat-form-field>
                              </div>    
                              <div class="col-md-4">
                                   <mat-form-field>
                                            <mat-select formControlName="contact_timezone_id" placeholder="Timezone">
                                                    <mat-option *ngFor="let timezone of timezones" [value]="timezone.timezone_id">{{timezone.timezone_name}}</mat-option>
                                            </mat-select>
                                    </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field>
                                    <input formControlName="contact_full_name" matInput placeholder="Full Name" required>
                                </mat-form-field>
                              </div>
                    </div> 
                    
                    
                    <div class="row ">
                            <div class="col-md-4">
                              <mat-form-field>
                                            <mat-select formControlName="contact_dept_id" placeholder="Department">
                                                    <mat-option *ngFor="let dpt of ActiveDepartments" [value]="dpt.dept_id">{{dpt.dept_name}}</mat-option>
                                            </mat-select>
                              </mat-form-field>
                              </div>    
                              <div class="col-md-4">
                                    <mat-form-field>
                                            <input formControlName="contact_birthday" matInput [matDatepicker]="DOB" placeholder="Date of Birth">
                                            <mat-datepicker-toggle matSuffix [for]="DOB">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #DOB></mat-datepicker>
                                    </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field>
                                    <mat-select formControlName="contact_desig_id" placeholder="Designation">
                                       <mat-option *ngFor="let desig of ActiveDesignations" [value]="desig.desig_id">{{desig.desig_name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                              </div>
                    </div> 
                    <div class="row ">
                              <div class="col-md-4">
                              <mat-form-field>
                                    <mat-select formControlName="contact_team_id" placeholder="Team">
                                       <mat-option *ngFor="let team of ActiveTeams" [value]="team.team_id">{{team.team_name}}</mat-option>
                                    </mat-select>
                              </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field>
                                    <mat-select placeholder="Zone" formControlName="contact_zone">
                                            <mat-option *ngFor="let gd of zone" [value]="gd.name">{{gd.name}}</mat-option>
                                    </mat-select>    
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field>
                                        <input formControlName="owner_name" matInput placeholder="Owner">
                                  </mat-form-field>
                              </div>    
                    </div> 
    
                    <div class="row ">
                            <div class="col-md-4">
                              <mat-form-field>
                                    <input formControlName="contact_address1" matInput placeholder="Address">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-select formControlName="contact_country_code" (selectionChange)="onChangeCountry($event.value)" placeholder="Country">
                                          <mat-option *ngFor="let country of countries" [value]="country.country_id">{{country.country_name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-select formControlName="contact_state_code" (selectionChange)="onChangeState($event.value)" placeholder="State">
                                        <mat-option *ngFor="let state of states" [value]="state.state_code">{{state.state_name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 

                    </div> 
    
                    <div class="row ">
                              <div class="col-md-4">
                                <mat-form-field>
                                    <mat-select formControlName="contact_city_code" placeholder="City">
                                    <mat-option *ngFor="let city of cities" [value]="city.city_code">{{city.city_name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field>
                                        <input formControlName="contact_zip_code" matInput placeholder="Zipcode/Postal">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field>
                                        <input formControlName="contact_emailid" matInput placeholder="Email">
                                  </mat-form-field>
                              </div>    
                    </div> 
                    <div class="row ">
                              <div class="col-md-4">
                                <mat-form-field>
                                        <input formControlName="contact_login_id" matInput placeholder="Login Id">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field>
                                        <input formControlName="contact_password" type="password" matInput placeholder="Login Password">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field>
                                      <mat-select formControlName="contact_role_id" placeholder="Login Role">
                                              <mat-option *ngFor="let role of ActiveRoles" [value]="role.role_id">{{role.role_name}}</mat-option>
                                      </mat-select>
                                                       
                                  </mat-form-field>
                              </div>
                    </div> 
                    <div class="row ">
                              <div class="col-md-4">
                                <!-- <mat-form-field>
                                        <input matInput placeholder="Attach Signature">
                                </mat-form-field> -->
                              </div>
                              <div class="col-md-4">
                                  <!-- <mat-form-field>
                                    <mat-select placeholder="Reporting To">
                                      <mat-option></mat-option>
                                    </mat-select>
                                  </mat-form-field> -->
                              </div>    
                    </div> 
                    
                </div>
              </div>    
          </div>
        </div>
    </form>