<div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="Sub-header">
                <div class="row">  
                    <div class="col-md-8">
                    General
                    </div>
                    
                    <div class="col-md-2 text-right">    
                    <button type="submit" class="btn btn-success" mat-raised-button>Save</button>
                    </div>
                    <div class="col-md-2">    
                            <button type="reset" class="btn btn-danger" mat-raised-button>Cancel</button>
                    </div>
                </div>
            </div>    
            <div class="card-body">
                <div class="row setWidth">
                  <div class="col-md-4"> 
                    <mat-form-field>
                        <input matInput placeholder="Created By" value="tz.createdBy">
                    </mat-form-field>
                    </div>    
                    <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="Created At" >
                    </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <input matInput placeholder="Document Name" required>
                      </mat-form-field>
                    </div>
                </div>
    
                <div class="row setWidth">
                        <div class="col-md-4">
                          <mat-form-field>
                                <mat-select placeholder="Related To">
                                        <mat-option value="Y">Yes</mat-option>
                                </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                                <input matInput>
                          </mat-form-field>
                          </div>    
                          <div class="col-md-4">
                          <mat-form-field>
                              <input matInput placeholder="Document Owner">
                          </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field>
                                <textarea matInput placeholder="Document Description"></textarea>
                              </mat-form-field>
                          </div>
                </div>    
    
                
                <div class="row setWidth">
                          <div class="col-md-4">
                         
                          </div>
                          <div class="col-md-4">
                                
                                      <label>Associated Document</label>
                                      <mat-radio-group aria-label="My Contact">
                                              <mat-radio-button value="1">File</mat-radio-button>
                                              <mat-radio-button value="2">Web URL</mat-radio-button>
                                      </mat-radio-group>
                                
                           </div>    

                </div> 
            </div>
          </div>    
      </div>
    </div>
    
