<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Contact User</strong>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                  <button type="button" class="btn btn-block btn-primary">
                    <i class="fa fa-refresh"></i> Refresh
                  </button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                  <button type="button" class="btn btn-block btn-success">
                      <i class="fa fa-plus"></i> Add</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                  <button type="button" class="btn btn-block btn-warning"> 
                      <i class="fa fa-pencil-square-o"></i> Edit</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                  <button type="button" class="btn btn-block btn-danger">
                      <i class="fa fa-trash-o"></i>
                      Delete</button>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-xl mb-3 mb-xl-0">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="search" name="search" class="form-control" placeholder="Search">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                          </div>    
                    </div>
                </div>
              </div>
              <hr>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="CreatedBy">Created By</label>
                <input type="text" class="form-control" id="CreatedBy">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="CreatedAt">Created At</label>
                <input type="text" class="form-control" id="CreatedAt">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ContactCode">Contact Code</label>
                <input type="text" class="form-control" id="ContactCode" placeholder="Enter Contact Code">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group required">
                <label for="ContactType">Contact Type</label>
                <select class="form-control" id="ContactType">
                  <option selected="selected" disabled>Select Contact Type</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                  <label for="ContactType">Contact Title</label>
                  <select class="form-control" id="ContactTitle">
                    <option selected="selected" disabled>Select Contact Title</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group required">
                <label for="FullName">Full Name</label>
                <input type="text" class="form-control" id="FullName" placeholder="Enter the Full Name">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                    <label for="Address">Address</label>
                    <input type="text" class="form-control" id="Address" placeholder="Enter the Address">
                  </div>
                </div>
              <div class="col-sm-4">
                  <div class="form-group">
                    <label for="Country">Country</label>
                    <input type="text" class="form-control" id="Country" placeholder="Enter the Country">
                  </div>
                </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="State">State</label>
                  <input type="text" class="form-control" id="State" placeholder="Enter the State">
                </div>
              </div>
            </div><!--/.row-->

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="City">City</label>
                      <input type="text" class="form-control" id="City" placeholder="Enter the City">
                    </div>
                  </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="ZipCode">Zip Code</label>
                      <input type="text" class="form-control" id="ZipCode" placeholder="Enter the Zip Code">
                    </div>
                  </div>
                <div class="col-sm-4">
                  <div class="form-group required">
                    <label for="TimeZone">Time Zone</label>
                    <select class="form-control" id="TimeZone">
                        <option selected="selected" disabled>Select Time Zone</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                      </select>
                  </div>
                </div>
              </div><!--/.row-->

              <div class="row">
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label for="Department">Department</label>
                        <input type="text" class="form-control" id="Department" placeholder="Enter the Department">
                      </div>
                    </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label for="Designation">Designation</label>
                        <select class="form-control" id="Designation">
                            <option selected="selected" disabled>Select Designation</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                          </select>
                      </div>
                      </div>
                  <div class="col-sm-4">
                    <div class="form-group required">
                        <label for="Team">Team</label>
                        <select class="form-control" id="Team">
                            <option selected="selected" disabled>Select Team</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                          </select>
                  </div>
                </div>
              </div><!--/.row-->

              <div class="row">
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label for="ContactNumber">Contact Number</label>
                        <input type="text" class="form-control" id="ContactNumber" placeholder="Enter the Contact Number">
                      </div>
                    </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label for="Mail">E-Mail</label>
                        <input type="text" class="form-control" id="Mail" placeholder="Enter the Mail">
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                        <label for="LoginId">Login Id</label>
                        <input type="text" class="form-control" id="LoginId" placeholder="Enter the ID">
                  </div>
                </div>
              </div><!--/.row-->

              <div class="row">
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="LoginPassword">Login Password</label>
                          <input type="text" class="form-control" id="LoginPassword" placeholder="Enter the Password">                      
                      </div>
                    </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label for="LoginRole">Login Role</label>
                        <input type="text" class="form-control" id="LoginRole" placeholder="Enter the Role">
                      </div>
                  </div>
              </div><!--/.row-->
      </div>
      <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
    </div>
    <!--/.col-->
  </div>
</div>
