<div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                  <mat-tab-group dynamicHeight>
                      <mat-tab label="General">
                            <ng-template mat-tab-label>
                                    <mat-icon>location_on</mat-icon>
                                    <span>General</span>
                             </ng-template>
                          <app-documents-general></app-documents-general>
                      </mat-tab>
                      <mat-tab label="History">
                            <ng-template mat-tab-label>
                            <mat-icon>history</mat-icon>
                            <span>History</span>
                            </ng-template>
                          <app-common-history></app-common-history>
                        </mat-tab>
                      </mat-tab-group>
                </div>  
            </div>
        </div>
      </div>