<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Configuration - Software Type</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="SoftwareType">Software Type</label>
                <input type="text" class="form-control" id="SoftwareType" placeholder="Enter Software Type">               
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="SoftwareDiscription">Software Discription</label>
                <input type="text" class="form-control" id="SoftwareDiscription" placeholder="Enter Software Discription">               
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="Enabled">Enabled</label>
                <select class="form-control" id="Enabled">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
            </div>
          </div><!--/.row-->


      </div>
      <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Insert</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
    </div>
    <!--/.col-->
  </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 
          <strong>Software Type Table</strong>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Software Type</th>
                <th>Software Description</th>
                <th>Enabled</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Yiorgos Avraamu</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>    
</div>