<div class="row p-3 justify-content-center">
  <div class="p-1">
  <button type="submit"  mat-stroked-button color="primary" (click)="refresh()">Refresh</button>
  </div>
  <div class="p-1">
  <button type="submit" mat-stroked-button class="btn btn-success" (click)="addTab()">Add</button>
  </div>
  <div class="p-1">
  <button type="submit" mat-stroked-button class="btn btn-info">Edit</button>
  </div>
  <div class="p-1">
  <button type="submit" mat-stroked-button color="warn">Delete</button>
  </div>
</div>

<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      <ng-template mat-tab-label>
          <span>{{tab}}</span>
          <button [disabled]="tabs.length === 1" (click)="removeTab(index)">
            <mat-icon>close</mat-icon>
          </button>
          <!-- <mat-icon>close</mat-icon> -->
      </ng-template>
      <app-contacts-list></app-contacts-list>
      <app-contacts-general></app-contacts-general>
    <!-- <button mat-raised-button
            class="example-delete-tab-button"
            [disabled]="tabs.length === 1"
            (click)="removeTab(index)">
      Delete Tab
    </button> -->
  
  </mat-tab>
</mat-tab-group>