<div class="card">
    <div class="card-header">{{action}} Ticket Sub Category</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                        <mat-select  [(ngModel)]="local_data.ticket_category_id" placeholder="Ticket Category">
                                <mat-option *ngFor="let ticketcat of Activeticketscategories" [value]="ticketcat.ticket_category_id">{{ticketcat.ticket_category_name}}</mat-option>
                        </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field >
                        <input placeholder="Ticket Sub Category Name" matInput [(ngModel)]="local_data.ticket_sub_category_name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-select placeholder="Select" [(ngModel)]="local_data.ticket_sub_category_enabled" required>
                            <mat-option value="Y">Yes</mat-option>
                            <mat-option value="N">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <textarea matInput placeholder="Description" [(ngModel)]="local_data.ticket_sub_category_discription" required></textarea>
                  </mat-form-field>
                  
                  </div>    
        </div>  
</div>
<div class="text-right">
    <button mat-button (click)="doAction()" class="btn btn-success">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>